<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo"><i class="material-icons">library_books</i>News of the Day</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/saved">Saved Articles</a></li>
      </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a href="/"></a>Articles</li>
    <li><a href="/saved">Saved Articles</a></li>
</ul>