{{> nav}}

<div class="container">
    <div class="card large center">
        <div class="card-content">
            <h1>
                New York Times Articles
            </h1>
            <a class="waves-effect waves-light btn scrape">Scrape News</a>
        </div>
    </div>
</div>